<page xmlns="http://projectmallard.org/1.0/"
      type="guide" style="task"
      id="printing">

  <info>
    <link type="guide" xref="index#printing" />
    <link type="seealso" xref="noprint"/>

    <desc>How to print, and common questions about printing.</desc>

    <revision pkgversion="3.2" version="0.1" date="2011-09-05" status="final"/>
    <revision pkgversion="3.10.3" date="2014-03-22" status="review"/>
    <credit type="author">
      <name>Phil Bull</name>
      <email>philbull@gmail.com</email>
    </credit>
    <credit type="editor">
      <name>Anna Philips</name>
      <email>anna.cs.au@gmail.com</email>
    </credit>
    <license>
      <p>Creative Commons Share Alike 3.0</p>
    </license>

  </info>

<title>Printing a document</title>

<list>
 <item><p>To print a document:</p>
  <steps>
    <item>
      <p>Click the <gui>File options</gui> menu in the top right corner and
      select <gui>Print</gui> or press
      <keyseq><key>Ctrl</key><key>P</key></keyseq>.</p>
    </item>
    <item>
      <p>Choose your printer from the list.</p>
    </item>
   <item><p>Click <gui>Print</gui>.</p></item>
  </steps>
 </item>
</list>

<list>
 <item>
  <p>Printing is enabled for the following file formats:</p>
   <list>
    <item><p>DjVu (.djvu, .djv)</p></item>
    <item><p>Portable Document Format (.pdf)</p></item>
    <item><p>PostScript (.ps)</p></item>
    <item><p>Tagged Image File Format (.tiff, .tif)</p></item>
   </list>
 </item>
</list>

</page>
